/**
* Project : simply-countdown
* File : demo
* Date : 27/06/2015
* Author : Vincent Loy <vincent.loy1@gmail.com>
*/
@import 'lesshat';

@color-white: #fff;

@spacing: 20px;

body,
html {
  .size(100%);
}

.bg {
  .display(flex);
  .align-items(center);
  .justify-content(center);

  h1 {
    font-size: 60px;
    font-family: 'Arial', sans-serif;
    color: @color-white;
  }
}
